.Header {
  background-color: #222;
  height: 32px;
  padding: 16px;
  color: white;
  display: flex;
  @media print {
    display:none;
  }
  .main-title {
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
    flex: 1;
  }

  .hero-image {
    width: 32px;
    margin-right: 1.6rem;
    img {
      height: 100%;
    }
  }
}
