@mixin button-hover($background-colour, $border-colour) {
  background: $background-colour;
  border: 1px solid $border-colour;
  &:enabled:hover {
    background: white;
    box-shadow: $border-colour 3px 3px;
  }
  &:disabled {
    filter: grayscale(60%) brightness(105%);
  }
}

.submit-button {
  &:enabled {
    cursor: pointer;
  }
  padding: 8px 16px;
  border-radius: 4px;
  margin: 4px;
  font-size: 1.8rem;
  &.mini {
    padding: 4px 8px;
    margin: 3px;
    font-size: 1.6rem;
  }
  @include button-hover($background-colour: #d9edf7, $border-colour: #bce8f1);

  &.save {
    @include button-hover($background-colour: #dff0d8, $border-colour: #d6e9c6);
  }
  &.reset {
    @include button-hover($background-colour: #fcf8e3, $border-colour: #faebcc);
  }
}