@import '../../Styling/Global';

.App-nav {
  @include r-mobile {
    .App-nav-list {
      display: none;
      height: 60px;
    }
  }
  @include r-tablet {
    .App-nav-list {
      display: none;
      height: 60px;
    }
  }
  @include r-desktop {
    .App-nav-list {
      height: 60px;
      display: grid;
      grid-gap: 1px;
      grid-auto-flow: column;
    }
  }
  .App-nav-list {
    padding: 1px;
    margin: 0;
    list-style-type: none;
    @media print {
      display: none;
    }
  }

  .single-link, .double-link {
    display: grid;
    grid-gap: 1px;
    align-items: stretch;
    justify-content: stretch;
  }

  .single-link {
  }

  .double-link {
    grid-template-rows: 1fr 1fr;
  }

  .App-nav-anchor {
    font-size: 1.4rem;
    border: 0;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    background: #222;
    &.planning {
      //background: #2e0d09;
      color: #f0c2bd;
    }
    &.recording {
      //background: #2e2609;
      color: #f0e5bd;
    }
    &.reviewing {
      //background: #0d0a20;
      color: #8c87a6;
    }
    &.admin {
      //background: #07220d;
      color: #8fb597;
    }

    .link-icon {
      font-size: 1.6rem;
      color: #dddddd;
      margin-right: 4px;
    }
    &:hover {
      background-color: #fff;
      color: darkslategrey;
      .link-icon {
        color: #888888;
      }
    }
  }
}