.week-number {
  margin: 0;
  height: 40px;
}

.week-list {
  height: 40px;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.week-link {
  color: #222222;
  text-decoration: none;
}

.week-list-item {
  flex: 1;
  padding: 0 1px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.selected {
    background: #222222;

    .week-link {
      color: #ffffff;
    }
  }
}