.weekly-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;

  .week-picker {
    grid-column-end: span 4;
  }
}

.overview-title {
    grid-column-end: span 4;
}

.overview-rota-group {
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 8px;
    margin: 4px 0;
    padding: 4px;
    border: 1px solid lightgrey;
}

.overview-stat.week-total, .overview-stat-title.week-total {
    font-weight: bold;
    background: #f6f6f6;
    padding: 4px;
    border-radius: 4px;
}

.overview-stat-title {
    grid-column: 1;
    justify-content: left;
    align-items: center;
    display: grid;
    padding-left: 16px;
}

.overview-stat.notes {
    font-size: 1.3rem;
}