.weekly-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;

  .week-picker {
    grid-column-end: span 4;
  }
}

.overview-title {
    grid-column-end: span 4;
}

.overview-rota-group {
    grid-column-end: span 4;
    padding: 4px;
    border: 1px solid lightgrey;
    border-spacing: 0;
    tr {
        td, th {
            width: calc(100% / 9);
        }
    }

    .spacer-row {
        background: lightgrey;
        height: 1px;
        padding: 0;
    }
}

.overview-stat, .overview-stat-title {
    padding: 8px;

    &.week-total {
        font-weight: bold;
        background: #f6f6f6;
    }
}

.overview-stat-title {
    grid-column: 1;
    padding-left: 16px;
}

.overview-stat {
    text-align: center;
    &.week-total {
        vertical-align: top;
    }
    &.notes {
        font-size: 1.3rem;
    }
}