.staff-members-data-entry {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 4px;
  padding: 0 8px;

  .staff-member-entity {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, 1fr);

    &.title {
      font-weight: bold;
    }
  }

  .staff-member-edit-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
  }

  .staff-members-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1px) 1fr;
    grid-gap: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
  }

  .staff-members-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
  }

  .filter-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
  }

  .filter-spacer {
    content: '';
    width: 1px;
    background: grey;
  }
}