.weekly-rota {
  * {
    @media print {
      font-size: 1rem;
    }
  }
  .rota-grid {
    display: grid;
    grid-template-columns: repeat(8, 2fr) 1fr;
    margin: 16px;
    grid-gap: 4px;
    @media print {
      width: calc(100vw - 32px);
      page-break-after: always;
    }
  }
  .rota-column {
    display: grid;
    grid-auto-rows: 32px;
  }
  .rota-grid-header {
    display: grid;
    align-content: center;
    font-weight: bold;
    background-color: lightblue;
    grid-row: span 2;
  }
  .shift, .staff-role-shift {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .staff-member, .shift, .total-hours {
    display: grid;
    align-content: center;
    &:nth-of-type(2n) {
      background-color: #eeeeee;
    }
  }
}