.weekly-planning-data-entry {

  .planning-form {
    width: 50%;
    margin: auto;
  }

  .planning-rota {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .planning-rota-item {
    align-self: center;
    justify-self: center;
  }

}