.date-week-number {
  margin: 0;
  height: 40px;
}

.date-picker {
  grid-area: date-picker;
}

.date-list {
  height: 40px;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.date-list-item {
  flex: 1;
  padding: 0 1px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .date-link {
    color: #222222;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #eee;
    }
  }

  &.selected {
    background: #222222;

    .date-link {
      color: #ffffff;
      &:hover {
        background-color: #222222;
      }
    }
  }
}