@import "../Global";

.App-overlay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .overlay-warning {
    margin: 16px;
    grid-column: 2;
  }

  .overlay-buttons {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .App-nav-anchor, .Auth-button {
    @include std-link;
    flex: 1;
  }
}

.App-overlay ~ * {
  display: none;
}