html {
  font-size: 10px;
}

* {
  font-size: 1.6rem;
  box-sizing: border-box;
}

input, textarea, select {
  border-radius: 4px;
  padding: 4px;
  border: 1px solid lightgray;
  &:focus {
    border: 2px solid gray;
    padding: 3px;
  }
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  &.show-menu {
    overflow: hidden;
  }
}

.App-content-container {
  max-width: 100vw;
  padding-top: 8px;
}

.App-content-container > * {
  width: 100%;
  overflow: auto;
}
