.weekly-rota {
  * {
    @media print {
      font-size: 1rem;
    }
  }
  .rota-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 16px;
    @media print {
      width: 100vw;
      height: 100vh;
    }
  }
  .rota-column {
    display:grid;
    grid-auto-rows: 32px;
  }
  .shift {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .staff-member, .shift {
    display: grid;
    align-content: center;
    &:nth-of-type(2n) {
      background-color: #eeeeee;
    }
  }
}