.Auth-button {
  font-size: 1.4rem;
  border: 1px solid darkgrey;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: darkslategrey;
  }
}