@import '../../node_modules/sass-mq/mq';

$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px
);

@mixin r-mobile {
  @include mq($until: tablet) {
    @content
  }
}

@mixin r-tablet {
  @include mq($from: tablet, $until: desktop) {
    @content
  }
}

@mixin r-desktop {
  @include mq($from: desktop) {
    @content
  }
}

@mixin r-not-desktop {
  @include r-mobile { @content }
  @include r-tablet { @content }
}

@mixin std-link {
  font-size: 1.4rem;
  border: 0;
  outline: none;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background: #222;

  &:hover, &:focus {
    background-color: #fff;
    color: #222;
  }

  .link-icon {
    font-size: 1.6rem;
    color: #dddddd;
    margin-right: 4px;
  }
  &:hover {
    .link-icon {
      color: #888888;
    }
  }
}