html {
  font-size: 10px;
}

* {
  font-size: 1.6rem;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.App-content-container {
  max-width: 100vw;
  padding-top: 8px;
}

.App-content-container > * {
  width: 100%;
  overflow: auto;
}
