html {
  font-size: 10px;
}

* {
  font-size: 1.6rem;
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.App-content-container {
  padding-top: 8px;
}
