.weekly-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;

  .week-picker {
    grid-column-end: span 4;
  }
}

.overview-title {
    grid-column-end: span 4;
}

.overview-rota-group {
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 8px;
    margin: 4px 0;
    padding: 4px;
    border: 1px solid lightgrey;
}

.overview-stat-title {
    grid-column: 1;
}

.overview-stat.notes {
    font-size: 1.3rem;
}